<ul class="nav" myAccordionNav myAppendSubmenuIcon mySlimScroll myHighlightActiveItems>
  <!-- <li class="nav-header"><span>Navigation</span></li> -->
  <!--<li><a mat-button [routerLink]="['/app/dashboard']"><i class="nav-icon material-icons">home</i><span class="nav-text">Dashboard</span></a></li>-->
  <li><a mat-button [routerLink]="['/app/system/computers']"><i class="nav-icon material-icons">desktop_windows</i><span class="nav-text">Computers</span></a></li>
  <li><a mat-button [routerLink]="['/app/system/printers']"><i class="nav-icon material-icons">local_printshop</i><span class="nav-text">Printers</span></a></li>
  <!--<li><a mat-button href="javascript:;" myToggleQuickview="customizer"><i class="nav-icon material-icons">settings</i><span class="nav-text">Customizer</span></a></li>-->
  <!--<li>-->
    <!--<a mat-button href="#/app/ui"><i class="nav-icon material-icons">bubble_chart</i><span class="nav-text">UI Kit</span></a>-->
    <!--<ul>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/typography']"><span>Typography</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/buttons']"><span>Buttons</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/icons']"><span>Icons</span><span class="badge badge-pill badge-info">2</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/cards']"><span>Cards</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/icon-boxes']"><span>Icon Boxes</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/components']"><span>Components</span><span class="badge badge-pill badge-danger">12</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/hover']"><span>Hover</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/feature-callouts']"><span>Feature Callouts</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/lists']"><span>Lists</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/sashes']"><span>Sashes</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/testimonials']"><span>Testimonials</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/pricing-tables']"><span>Pricing Tables</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/call-to-actions']"><span>Call to Actions</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/timeline']"><span>Timeline</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/boxes']"><span>Boxes</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/grids']"><span>Grids</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/ui/color']"><span>Color</span></a></li>-->
    <!--</ul>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a mat-button href="#/app/form"><i class="nav-icon material-icons">format_color_text</i><span class="nav-text">Forms</span></a>-->
    <!--<ul>-->
      <!--&lt;!&ndash; <li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/input']"><span>Input</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/checkbox']"><span>Checkbox</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/radio-button']"><span>Radio Button</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/chips']"><span>Chips</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/select']"><span>Select</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/slide-toggle']"><span>Slide Toggle</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/slider']"><span>Slider</span></a></li> &ndash;&gt;-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/components']"><span>Components</span><span class="badge badge-pill badge-info">10</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/layouts']"><span>Form Layouts</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/form/validation']"><span>Form Validation</span></a></li>-->
    <!--</ul>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a mat-button href="#/app/table"><i class="nav-icon material-icons">list</i><span class="nav-text">Tables</span></a>-->
    <!--<ul>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/table/static']"><span>Static Tables</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/table/responsive']"><span>Responsive Tables</span></a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/table/data-table']"><span>Data Tables</span></a></li>-->
    <!--</ul>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a mat-button href="#/app/chart"><i class="nav-icon material-icons">equalizer</i><span class="nav-text">Charts</span></a>-->
    <!--<ul>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/chart/line']">Line &amp; Area</a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/chart/bar']">Bar</a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/chart/pie']">Pie</a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/chart/scatter']">Scatter</a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/chart/radar']">Radar</a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/chart/funnel']">Funnel</a></li>-->
      <!--<li><a mat-button class="md-button prepend-icon" [routerLink]="['/app/chart/more']">More</a></li>-->
    <!--</ul>-->
  <!--</li>-->
  <li class="nav-divider"></li>
  <li><a mat-button [routerLink]="['/app/system/departments']"><i class="nav-icon material-icons">device_hub</i><span class="nav-text">Departments</span></a></li>
</ul>
